{% extends "!base-admin.html" %}
{% block title %}Администраторы | {% endblock %}
{% block css %}

{% endblock %}

{% block js %}
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
<script>

    function updateUserStatus(user_id, status_id) {

        $.ajax({
            type: "POST",
            url: '/admin/save',
            data: JSON.stringify({admins: [{is_active: status_id, id: user_id}]}),
            contentType: "application/json",
            success: function () {
                var msg = 'Данные пользователя обновлены'

                if (status_id === true) {
                    msg = 'Администратор разблокирован'
                }

                if (status_id === false) {
                    msg = 'Администратор заблокирован'
                }

                toastr.success(msg)
                dt_refresh('dt_users', '/admin/get/admins')

            },
            error: function () {
                toastr.error('Ошибка обновления данных. Обновите страницу и повторите попытку')

            }
        })
    }

    $.ajax({
        type: "GET",
        url: '/admin/get/admins',
        success: function (data) {
            $('#dt_users').DataTable({
                data: data,
                "paging": true,
                "pageLength": 10,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "searching": true,
                "ordering": true,

                columns: [
                    {data: 'id'},
                    {data: 'surname'},
                    {data: 'name'},
                    {data: 'fathername'},
                    {data: 'username'},
                    {data: 'post'},
                    {data: 'level'},
                    {
                        "data": "is_active",
                        "render": function (data, type, row) {

                            var c = 'danger'
                            var txt = 'Заблокирован'

                            if (data === true) {
                                c = 'success'
                                txt = 'Активный'
                            }

                            return '<span class="badge bg-label-' + c + '">' + txt + '</span>'
                        }
                    },
                    {
                        "data": "is_active",
                        "render": function (data, type, row) {

                            var edit = '<a href="/admin-edit/admins/' + row.id + '"><i class="bx bx-edit-alt"></i></a>'

                            if (data === false) {
                                edit += '<a href="javascript:" onclick="updateUserStatus(' + row.id + ', ' + true + ')"><i class="bx bx-check"></i></a>'
                            }

                            if ((data === true) && (row.id !== 1)){
                                edit += '<a href="javascript:" onclick="updateUserStatus(' + row.id + ', ' + false + ')"><i class="bx bx-block"></i></a>'
                            }

                            return edit

                        }
                    }
                ],
                "initComplete": function () {

                    var table = this.api().table().header();
                    var newRow = $('<tr></tr>');
                    $(table).append(newRow);

                    var searchColumns = [0, 1, 2, 3, 4, 5, 6, 7];

                    this.api().columns().every(function (i) {
                        var column = this;
                        if (searchColumns.includes(i)) {

                            var input = $('<input type="text" class="form-control" placeholder="" />');
                            $(newRow).append($('<th></th>').append(input));

                            input.on('keyup change clear', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }
                            });
                        } else {
                            $(newRow).append($('<th></th>'))

                        }
                    });
                },

                "order": [[0, "desc"]]
            });

        },
        error: function () {
            toastr.error('Ошибка получения пользователей')

        }
    })

</script>


{% endblock %}

{% block content %}
<div class="flex-grow-1">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Администраторы
                        <a href="/admin-create/admins"><i class="bx bx-plus"></i></a>
                        <a href="javascript:dt_refresh('dt_users', '/admin/get/admins')"><i class="bx bx-refresh"></i></a>
                    </h5>
                    <small class="card-subtitle" id="prod-cntr"></small>
                </div>
                <div class="card-datatable p-4">
                    <table id="dt_users" class="datatables-ajax table table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Логин</th>
                            <th>Должность</th>
                            <th>Уровень</th>
                            <th>Статус</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}