{% extends "!base-admin.html" %}
{% block title %}Аккаунты | {% endblock %}
{% block js %}
<script>

    $(document).ready(function () {

        const url = window.location.href;
        var arr = url.split('/')
        var id = arr[arr.length - 1]
        var modal = ''

        $.ajax({

            url: '/admin/get/products_full',
            method: 'get',

            success: function (data) {

                $('#dt_user_products').DataTable({
                    "data": data,
                    "paging": true,
                    "pageLength": 10,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "searching": true,
                    "ordering": true,

                    columns: [
                        {
                            data: 'id'
                        },
                        {
                            render: function (data, type, row) {

                                var avatar_src = "{{ url_for('static', path='assets/img/avatars/def-avatar.jpg') }}"

                                if (row.media !== null) {
                                    avatar_src = 'https://storage.yandexcloud.net/greedybear/' + row.media
                                }

                                var wb_url = 'https://www.wildberries.ru/catalog/' + row.wb_article + '/detail.aspx'

                                return '' +
                                    '<div class="d-flex justify-content-start align-items-center product-name">' +
                                    '   <div class="avatar-wrapper">' +
                                    '       <div class="avatar avatar me-2 rounded-2 bg-label-secondary">' +
                                    '           <img src="' + avatar_src + '">' +
                                    '       </div>' +
                                    '   </div>' +
                                    '   <div class="d-flex flex-column">' +
                                    '       <h6 class="text-body text-nowrap mb-0"><a target="_blank" href="' + wb_url + '">' + row.wb_title + '</a></h6>' +
                                    '       <small class="text-muted text-truncate d-none d-sm-block">' + row.wb_article + '</small>' +
                                    '   </div>' +
                                    '</div>'
                            }
                        },
                        {
                            render: function (data, type, row) {
                                var price = ''


                                var trs = ''

                                $.each(row.sizes, function (i, size) {
                                    var p = '—'
                                    var bdc = 'success'
                                    var bdt = 'Да'

                                    if (size.wb_in_stock === false) {
                                        p = '—'
                                        bdc = 'danger'
                                        bdt = 'Нет'

                                    } else {
                                        p = size.wb_price / 100
                                    }

                                    if (size.barcode === null) {
                                        var barcode = '—'
                                    } else {
                                        barcode = size.barcode
                                    }

                                    var s_n = null

                                    if (size.wb_size_origName !== null) {
                                        s_n = size.wb_size_origName
                                    }

                                    if (size.wb_size_name !== null) {
                                        if (s_n !== null) {
                                            s_n += ' (' + size.wb_size_name + ')'
                                        } else {
                                            s_n = size.wb_size_name
                                        }

                                    }


                                    trs = trs + '                        <tr>\n' +
                                        '                            <td>' + (s_n ? s_n : '—') + '</td>\n' +
                                        '                            <td>' + p + '</td>\n' +
                                        '                            <td>' + barcode + '</td>\n' +
                                        '                            <td><span class="badge bg-label-' + bdc + '">' + bdt + '</span></td>\n' +
                                        '                        </tr>\n'

                                })

                                modal += '<div class="modal fade" id="modalToggle-' + row.id + '" aria-labelledby="modalToggleLabel-' + row.id + '" tabindex="-1" style="display: none;"\n' +
                                    '         aria-hidden="true">\n' +
                                    '        <div class="modal-dialog modal-dialog-centered modal-xl">\n' +
                                    '            <div class="modal-content">\n' +
                                    '                <div class="modal-header">\n' +
                                    '                    <h5 class="modal-title" id="modalToggleLabel-' + row.id + '">' + row.wb_article + ': ' + row.wb_title + '</h5>\n' +
                                    '                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>\n' +
                                    '                </div>\n' +
                                    '                <div class="modal-body">\n' +
                                    '                  <div class="table-responsive text-nowrap" >' +
                                    '                    <table class="table text-nowrap">\n' +
                                    '                        <thead>\n' +
                                    '                        <tr>\n' +
                                    '                            <th>Размер</th>\n' +
                                    '                            <th>Стоимость</th>\n' +
                                    '                            <th>Штрих-код</th>\n' +
                                    '                            <th>Наличие</th>\n' +
                                    '                        </tr>\n' +
                                    '                        </thead>\n' +
                                    '                        <tbody class="table-border-bottom-0">\n' + trs +
                                    '                        </tbody>\n' +
                                    '                    </table>\n' +
                                    '        </div>\n</div>' +
                                    '            </div>\n' +
                                    '        </div>\n' +
                                    '    </div>'

                                price = '<div><a href="javascript:" data-bs-toggle="modal" data-bs-target="#modalToggle-' + row.id + '">Размеров: ' + row.sizes.length + '</a></div>'

                                return '<span class="text-nowrap">' + price + '</span>'

                            }
                        },
                        {
                            render: function (data, type, row) {
                                return '<span class="text-nowrap">' + moment(row.last_update).format('DD.MM.YYYY HH:mm') + '</span>'
                            }
                        },
                        {
                        render: function (data, type, row) {

                            var color = ''

                            if (row.organization.is_competitor) {
                                color = 'text-dark'
                            }

                            return '<span class="text-nowrap ' + color+ '">' + row.organization.title + ' (' + row.organization.inn + ')' + '</span>'
                        }
                    },

                    ],
                    "order": [[0, "desc"]],
                    "initComplete": function () {

                        var table = this.api().table().header();
                        var newRow = $('<tr></tr>');
                        $(table).append(newRow);

                        var searchColumns = [0, 1, 2, 3, 4];

                        this.api().columns().every(function (i) {
                            var column = this;
                            if (searchColumns.includes(i)) {

                                var input = $('<input type="text" class="form-control" placeholder="" />');
                                $(newRow).append($('<th></th>').append(input));

                                input.on('keyup change clear', function () {
                                    if (column.search() !== this.value) {
                                        column.search(this.value).draw();
                                    }
                                });
                            } else {
                                $(newRow).append($('<th></th>'))

                            }
                        });
                    },
                });
                document.getElementById('size_modals').innerHTML = modal;
                document.getElementById('prds_ldr').style.display = 'none'

            },

            error: function (data) {
                toastr.error('Ошибка загрузки товаров: ' + data.responseJSON.detail)
                document.getElementById('prds_ldr').style.display = 'none'

            }

        });

    });
</script>
{% endblock %}

{% block content %}
<div class="flex-grow-1">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Товары
                        <a href="javascript:dt_refresh('dt_user_products', '/admin/get/products_full')" id="rb"><i
                                class="bx bx-refresh"></i></a>
                        <span class="spinner-border spinner-border-sm text-primary" role="status" id="prds_ldr"></span>
                    </h5>
                    <small class="card-subtitle" id="prod-cntr"></small>
                </div>
                <div class="card-datatable p-4 table-responsive">
                    <table id="dt_user_products" class="datatables-ajax table table-bordered dataTable no-footer">
                        <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Товар</th>
                            <th>О товаре</th>
                            <th>Обновление WB</th>
                            <th>Организация</th>

                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="size_modals"></div>
{% endblock %}